body {
    height: 100vh;
    /*agrandamos el body al tamaño de la pantalla*/

}

/*este div se crea para poder alinearlo verticalmente con el tamaño de la pantalla*/
.displayflex {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
}

.tarjeta {
    
    margin: auto;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    border-style: solid;  
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
}

.avatar {
    border-style: solid;
    border-radius: 50%;
    position: relative;
    top: -10px;
    left: -50px;
}

.nombre, .desc, .botones {
    text-align: center;
}

